# Compipled Source #
####################
*.class

# Log file #
############
*.log

# Package Files #
#################
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Ignoring directories/folders #
########################################
*/webapp
*/target/

# Others #
##########
.settings
.classpath
.project

